* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.pdf binary
*.odt binary
*.xlsx binary
*.zip binary
